USE [master]
GO
/****** Object:  Database [PersonajesTP]    Script Date: 12/5/2023 12:06:28 ******/
CREATE DATABASE [PersonajesTP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonajesTP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PersonajesTP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PersonajesTP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PersonajesTP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonajesTP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonajesTP]
GO
/****** Object:  User [Disney]    Script Date: 12/5/2023 12:06:28 ******/
CREATE USER [Disney] FOR LOGIN [Disney] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 12/5/2023 12:06:28 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Disney]
GO
/****** Object:  Table [dbo].[Asociados]    Script Date: 12/5/2023 12:06:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asociados](
	[fkPersonaje] [int] NULL,
	[fkPeliculaYSerie] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PeliculasYSeries]    Script Date: 12/5/2023 12:06:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeliculasYSeries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](max) NULL,
	[Titulo] [varchar](150) NULL,
	[FechaCreacion] [date] NULL,
	[Calificacion] [int] NULL,
 CONSTRAINT [PK_PeliculasYSeries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personajes]    Script Date: 12/5/2023 12:06:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personajes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](max) NULL,
	[Nombre] [varchar](150) NULL,
	[Edad] [int] NULL,
	[Peso] [int] NULL,
	[Historia] [varchar](max) NULL,
 CONSTRAINT [PK_Personajes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PeliculasYSeries] ON 

SET IDENTITY_INSERT [dbo].[PeliculasYSeries] OFF
GO
SET IDENTITY_INSERT [dbo].[Personajes] ON 

INSERT [dbo].[Personajes] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (1, N'https://static.wikia.nocookie.net/disney/images/8/82/PeterPan.png/revision/latest?cb=20121006101543&path-prefix=es', N'Peter Pan', 10, NULL, N'Es un chico de entre 11 y 14 años que no quiere crecer. Vive en el País de Nunca Jamás junto al hada Campanilla y los Niños Perdidos. Su mayor enemigo es el Capitán Garfio, quien quiere acabar con él desde que le cortó la mano y se la echó de comer al cocodrilo.')
INSERT [dbo].[Personajes] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (3, N'https://static.wikia.nocookie.net/disney/images/6/6d/BillCipher.png/revision/latest/scale-to-width-down/350?cb=20160304120312&path-prefix=es', N'Bill Cipher', 100, 0, N'Bill es un sabio e intelectual demonio que encuentra todo divertido. Es raro pero peligroso. Al presentarse normalmente se ve muy despreocupado, pero cuando se enoja hace que su criterio cambie rápidamente.

')
SET IDENTITY_INSERT [dbo].[Personajes] OFF
GO
ALTER TABLE [dbo].[Asociados]  WITH CHECK ADD  CONSTRAINT [FK_Asociados_PeliculasYSeries] FOREIGN KEY([fkPeliculaYSerie])
REFERENCES [dbo].[PeliculasYSeries] ([Id])
GO
ALTER TABLE [dbo].[Asociados] CHECK CONSTRAINT [FK_Asociados_PeliculasYSeries]
GO
ALTER TABLE [dbo].[Asociados]  WITH CHECK ADD  CONSTRAINT [FK_Asociados_Personajes] FOREIGN KEY([fkPersonaje])
REFERENCES [dbo].[Personajes] ([Id])
GO
ALTER TABLE [dbo].[Asociados] CHECK CONSTRAINT [FK_Asociados_Personajes]
GO
USE [master]
GO
